[Unit]
Description=Home Assistant
After=local-fs.target network-online.target zwave-js-ui.service

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=homeassistant
Network=host
Volume=/opt/homeassistant/config:/config:Z
SecurityLabelDisable=true
Environment=TZ=America/New_York

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
