[Unit]
Description=HashiCorp Vault
After=local-fs.target

[Container]
Image=docker.io/hashicorp/vault:1.21
ContainerName=vault
PublishPort=8200:8200
Volume=/opt/vault/data:/vault/data
Volume=/opt/vault/config:/vault/config
AddCapability=IPC_LOCK
SecurityLabelDisable=true
Environment=VAULT_ADDR=http://127.0.0.1:8200
Exec=vault server -config=/vault/config/vault.hcl

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
