{
  "id": "openshift",
  "realm": "openshift",
  "displayName": "OpenShift Realm",
  "enabled": true,
  "sslRequired": "external",
  "loginWithEmailAllowed": true,
  "duplicateEmailsAllowed": false,
  "users": [
    {
      "username": "admin",
      "enabled": true,
      "email": "admin@ultra.lab",
      "firstName": "Admin",
      "lastName": "User",
      "credentials": [
        {
          "type": "password",
          "value": "<USER_PASSWORD>",
          "temporary": false
        }
      ],
      "groups": ["/openshift-admins"]
    },
    {
      "username": "developer",
      "enabled": true,
      "email": "developer@ultra.lab",
      "firstName": "Developer",
      "lastName": "User",
      "credentials": [
        {
          "type": "password",
          "value": "<USER_PASSWORD>",
          "temporary": false
        }
      ],
      "groups": ["/openshift-developers"]
    }
  ],
  "groups": [
    {
      "name": "openshift-admins",
      "path": "/openshift-admins"
    },
    {
      "name": "openshift-developers",
      "path": "/openshift-developers"
    }
  ],
  "clientScopes": [
    {
      "name": "profile",
      "description": "OpenID Connect built-in scope: profile",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "true",
        "display.on.consent.screen": "true"
      },
      "protocolMappers": [
        {
          "name": "username",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-attribute-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "username",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "preferred_username",
            "jsonType.label": "String",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        },
        {
          "name": "full name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-full-name-mapper",
          "consentRequired": false,
          "config": {
            "id.token.claim": "true",
            "access.token.claim": "true",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        },
        {
          "name": "given name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-attribute-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "firstName",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "given_name",
            "jsonType.label": "String",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        },
        {
          "name": "family name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-attribute-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "lastName",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "family_name",
            "jsonType.label": "String",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        }
      ]
    },
    {
      "name": "email",
      "description": "OpenID Connect built-in scope: email",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "true",
        "display.on.consent.screen": "true"
      },
      "protocolMappers": [
        {
          "name": "email",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-attribute-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "email",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "email",
            "jsonType.label": "String",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        },
        {
          "name": "email verified",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "user.attribute": "emailVerified",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "email_verified",
            "jsonType.label": "boolean",
            "userinfo.token.claim": "true",
            "introspection.token.claim": "true"
          }
        }
      ]
    },
    {
      "name": "groups",
      "description": "Group membership",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "true",
        "display.on.consent.screen": "true"
      },
      "protocolMappers": [
        {
          "name": "groups",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-group-membership-mapper",
          "consentRequired": false,
          "config": {
            "full.path": "false",
            "introspection.token.claim": "true",
            "userinfo.token.claim": "true",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "groups"
          }
        }
      ]
    }
  ],
  "defaultDefaultClientScopes": [
    "web-origins",
    "acr",
    "profile",
    "roles",
    "email",
    "groups"
  ],
  "clients": [
    {
      "clientId": "openshift",
      "name": "OpenShift Console",
      "description": "OpenShift OAuth OIDC Client",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": false,
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "serviceAccountsEnabled": false,
      "secret": "<OPENSHIFT_CLIENT_SECRET>",
      "redirectUris": [
        "https://oauth-openshift.apps.tallgeese.ultra.lab/oauth2callback/keycloak"
      ],
      "webOrigins": [
        "https://console-openshift-console.apps.tallgeese.ultra.lab"
      ],
      "defaultClientScopes": [
        "web-origins",
        "acr",
        "profile",
        "roles",
        "email",
        "groups"
      ]
    },
    {
      "clientId": "argocd",
      "name": "ArgoCD",
      "description": "ArgoCD OIDC Client (PKCE)",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": true,
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "serviceAccountsEnabled": false,
      "attributes": {
        "pkce.code.challenge.method": "S256"
      },
      "redirectUris": [
        "https://openshift-gitops-server-openshift-gitops.apps.tallgeese.ultra.lab/auth/callback",
        "http://localhost:8085/auth/callback"
      ],
      "webOrigins": [
        "https://openshift-gitops-server-openshift-gitops.apps.tallgeese.ultra.lab"
      ],
      "defaultClientScopes": [
        "web-origins",
        "acr",
        "profile",
        "roles",
        "email",
        "groups"
      ]
    }
  ]
}
